* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f3f6ff;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background: #fff;
}


@media screen and (min-width: 1200px) {
    .content {
        max-width: 1200px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.content h1 {
    text-align: center;
    opacity: 0.4;
    margin: 8px;
}
